.bg-main {
    background-image: url('../images/download.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
}

.navb button {
    border-radius: 28px;
}

.bg-main .main-text {
    margin-top: 20vh;
}

.main-text button {
    border-radius: 28px;
}

.last-second {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.503);
}

.last {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.824);
}

